* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background: #2b3a39;
    font-size: 4em;
}
.two {
    background: #4e5d5c;
}
.three {
    background: #9caaa9;
}
.four {
    background: #bccac9;
}